/* Universal selector:- it is used for make a webpage fully disable from inbuilt css of a browser */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero_Section{
    background-image: url(./Image/hero_section_background.jpeg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    min-height: 60vh;
}
/* Adjusting element of navigation bar */
.navbar{
    display: flex; /* it is used to divide all elment navbar in a equal containers*/
    align-items: center; /* this is used to move all content between centre of a screen*/
    justify-content: space-between; /* it provide a  space between elent is nav bar */
    height:85px; /*it provide a horizantal gap between side of web page and elements*/
    padding: 16px 48px ; /*it provide sapaccing in top-bottom and left-right*/
    /* margin-left: 100px;
    margin-right: 100px; */
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
    /* font-size: 20px; */
    
}

.navbar_MenuContainer{
    display: flex;
    gap:35px;
}

.navbar_MenuContainer .userIcon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: dotted 1px whitesmoke;
}

.zomatoLogoHero{
    align-items: center;
    justify-content: center;
}



.hero_Section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    gap: 22px;
    height: calc( 60vh- 85px);
}

.zomatoLogoHero{
    width: 200px;
    height: 40px;

}

.hero_Section_tittle{
    text-align: center;
    font-size: 30px;
    font-weight: 350;
}

.hero_Section_inputs{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;

}

.input_container_location , .input_container_search{
    padding: 5px;
    border: none;
    outline: none;
}

.input_container_location{
    width:35%;
    border-right: 2px solid #e0e0e0;
}

.input_container_search{
    width:65%;
}

.containerWeOffer{
    display: flex;
    margin: 3rem auto;
    /* height: 200vh; */
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 40px;
}
.weOffer_card{
    display: flex;

    flex-direction: wrap;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    height: 250px;
    margin-right: 12px;
}
   
    

.weOffer_card:hover{
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
    /* padding: 5px; */
    /* border-radius: 15px;
    overflow: hidden; */
    flex-direction: wrap;
    cursor: pointer;
    /* size: 100px;
    width: 360px;
    height: 260px; */
    transform: scale(1.1);
    
    
}

.weOffer_card img{
    width: 100%;
    height:170px;
    object-fit: cover;
    object-position: center;
    
}

.weofferContent{
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
}

.collectionContainer{
    margin: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* font-size: 20px; */
    /* font-weight: 300; */

}

.collectionContent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    font-weight: 300;

    
}
.collectionContent h1{
    font-size: 40px;
    font-weight: 450;
   /* margin-left:32px; */
   
}

.collectionContent p{
    color: rgb(21, 21, 21);
}



.paraCollection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.paraCollection .link{
    text-decoration: none;
    color: red;
    font-size: 17px;
}

.paraCollection span{
    color: red;
}

.styleforCollectionPara{
    display: flex;
}

.cardCollectionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.5rem;
}


.cardCollectionContainer .card{
    height: 300px;
    min-width:240px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;

}

.card1{
    background-image: url(./Image/collection\ card1.jpeg);
}

.card2{
    background-image: url(./Image/Collection\ card2.jpeg);
}

.card3
{
    background-image: url(./Image/Collection\ card3.avif);
}

.overlay{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.9)0%,
        rgba(0,0,0,0.05)50%,
        rgba(0,0,0,0.05) 85%
    );
    z-index: 0.5;
}

.cardCollectionContainer .card .cardContent{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 16px;
    font-size: 0.9rem;
    color: white;
}

.cardContent h4{
    font-weight: 400;
    letter-spacing: 0.05rem;
}

@media only screen and (max-width:600px){
    .navbar_MenuContainer .userIcon{
        display:flex;
    }
    .link{
        display:none;
    }
    .hero_Section{
        min-height: 80vh;
    }

    .hero_Section_container{
        flex-direction: column;
        background-color: transparent;
        width:100%;
        height:calc(80vh-40px);

    }

    .input_container_location , .input_container_search{
        padding:18px;
        border-radius:10px ;
        width: 98%;
    }
    
    .hero_Section_tittle{
        font-size: 18px;
        width:95%;
    }
}
